<p>{{title}} in Angular</p>
<p>Total: {{5+5}}</p>
<img src="{{url}}" alt="">

<!-- Two-way Data Binding -->
<p>The name is: {{name}}</p>
<input type="text" [(ngModel)]="name">


<!-- Directives -->

<!--  NgIf -->
<p *ngIf="name">The name is: {{name}}</p>
<input type="text" [(ngModel)]="name"> 

<!-- NgFor -->
<ul *ngFor="let city of cities">
  <!-- <li>{{city}}</li> -->

  <!-- Attributes Directive -->
  <!-- <li [ngClass]="['selected','blue']">{{city}}</li>  -->
  <!-- <li [ngClass]="{'selected':city === 'Sevilla', 'blue':city !== 'Sevilla'}">{{city}}</li>  -->
  <li (click)="onCityClicked(city)" [ngClass]="{'selected':city === selection}">{{city}}</li>
  <!-- <li [ngStyle]="{'color':'white','background-color': city === 'Sevilla' ? 'brown': 'green'}">{{city}}</li> -->
  
</ul>

<!-- Event Binding -> User Actions -->
<div *ngIf="selection">
  <p > Your city is: {{selection}}</p>
  <!-- <button  (click)="onClear()">Clear your selection</button> -->
  <!-- Working with @Input() Decorator -->
  <app-button (click)="onClear()" [color]="'blue'" [label]="'Clear your selection'" [selection]="selection"></app-button>
  <!-- <app-button (click)="onClear()" [color]="'green'" [label]="'Test'"></app-button>
  <app-button (click)="onClear()" [color]="'red'" [label]="'Using'"></app-button> -->
</div>