<p>{{title}} in Angular</p>
<p>Total: {{5+5}}</p>
<img src="{{url}}" alt="">

<!-- Two-way Data Binding -->
<p>The name is: {{name}}</p>
<input type="text" [(ngModel)]="name">


<!-- Directives -->

<!--  NgIf -->
<p *ngIf="name">The name is: {{name}}</p>
<input type="text" [(ngModel)]="name"> 

<!-- NgFor -->
<ul *ngFor="let city of cities">
  <!-- <li>{{city}}</li> -->
  
  <!-- Attributes Directive -->
  <!-- <li [ngClass]="['selected','blue']">{{city}}</li>  -->
  <!-- <li [ngClass]="{'selected':city === 'Sevilla', 'blue':city !== 'Sevilla'}">{{city}}</li>  -->
  <li [ngStyle]="{'color':'white','background-color': city === 'Sevilla' ? 'brown': 'green'}">{{city}}</li>
</ul>